<ul class="table table-hover small-offset-8">
  <table>
    <tr>
        <th>Address</th>
        <th>Price Bought</th>
        <th>Date Purchased</th>
    </tr>

    <% @properties.each do |property| %>
      <tr>
        <td><% if property.flat_no %>
              <%= link_to property.flat_no.to_s + "/" + property.house_no.to_s + " " + property.street, edit_property_path(property) %>
            <% else %>
              <%= link_to property.house_no + " " + property.street, edit_property_path(property) %>
            <% end %>
        </td>        
        <td>£<%= number_with_precision(property.original_price, :precision => 2, :delimiter => ",")  %></td>
        <td><%= property.purchase_date.to_s(:long_ordinal) %></td>
      </tr> 
  <% end %>
 </table>
</ul>